.header-container {
  border-bottom: 1px solid #858E98;
}
.header-top{
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.left {
  display: flex;
  justify-content: space-evenly;
}

.left p {
  margin-right: 0.5rem;
  color: #559EEC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left button.public {
  color: #858E98;
  padding: 0 7px;
  border-radius: 2em;
  white-space: nowrap;
  border: 1px solid #858E98;
}

.right {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.right button {
  border: 1px solid;
  border-radius: 6px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-btn-text);
  background-color: #30363D;
  border-color: #8B949E;
  max-width: 80%;
}

.header-bottom {
  padding-top: 2rem;
  margin: 0 1.5rem;
}

.header-bottom ul{
  display: flex;
  list-style: none;
}

.header-bottom ul li{
  padding: 1rem;
}

.header-bottom ul li:nth-child(2){
  border-bottom: 3px solid orange;
}